* {
  padding: 0;
  margin: 0;
  font-size: 0px;
}

#app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.sgs-input {
  position: fixed;
  top: -200vw;
  left: 0;
  z-index: 100;
  outline: none;
  border: none;
  background: none;
  color: #fff;
  box-sizing: border-box;
}

.log-box {
  width: 100%;
  height: 200px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  overflow: auto;
  color: #3b94fa;
  font-size: 12px;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  display: none;
  background: #12121e;
  border: none;
  scrollbar-width: none;
  resize: none;
}

.log-date {
  color: #3b94fa;
  font-size: 1em;
}

.log-msg {
  color: #e2e2e2;
  font-size: 1em;
  margin-bottom: 0.5em;
  word-break: break-all;
  white-space: break-spaces;
}